{% extends "shared/_layout.html" %}

{%block header %}
{{super()}}
<link rel="stylesheet" href="css/home.css">
{%endblock%}

{%block body %}
<div class="container">
    <div class="row novels-section">
        <div class="col-md-12">
            <h2>Trending novels</h2>
            <ul class="list-group trending-novels">
            </ul>
        </div>
    </div>
    <div class="row users-section">
        <div class="col-md-12">
            <h2>Trending Users</h2>
            <ul class="list-group trending-users">
            </ul>
        </div>
    </div>
</div>
{%endblock%}





{%block scripts %}
{{super()}}
<script src="js/home.js"></script>
{%endblock%}