{% extends "shared/_layout.html" %}

{%block header %}
{{super()}}
<link rel="stylesheet" href="css/login.css">
{%endblock%}

{%block navbar%}
{%endblock%}

{%block body %}
<div class="row wrapper">
    <div class="col-md-12">
        <div class="login-image-section">
            <a href="/home">GoNovel</a><br />
            Login
        </div>
        {% if messages.error %}
        <div class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
        {% endif %}
        <form action="/login" method="POST">
            <label for="username">Username :</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" />
            <label for="password">Password :</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" />
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <div class="alert alert-primary" role="alert">
            Have not registered yet? <a href="/signup">Register Now</a>
        </div>
    </div>
    </div>
    {%endblock%}
    
    
    {%block scripts %}
    {{super()}}
    {%endblock%}