{% extends "shared/_layout.html" %}

{%block header %}
{{super()}}
<link rel="stylesheet" href="/css/novelCreate.css">
{%endblock%}

{%block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 header-section">
            <h2>Create New Novel</h2>
        </div>

        <div class="row col-md-8 offset-md-2 new-novel-form-section">
            <div class="input-group col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input type="text" class="form-control" id="title" placeholder="Enter the title of your book" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="col-md-12">
                Author : {{username}}
            </div>
            <div class="col-md-12">
                <label for="summary">Summary : </label>
                <textarea class="form-control" id="summary" rows="3"></textarea>
            </div>
            <div class="col-md-12">
                <label for="story">Content :</label>
                <textarea class="form-control" id="story" rows="8"></textarea>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>

    </div>
</div>
{%endblock%}


{%block scripts %}
{{super()}}
<script>
    console.log("running script");
    $(".new-novel-form-section button").click(()=>{
        if (!areFieldsFilled())
        {
            alert("Invomplete fields");
            return;
        }

        let body = {
            author : "{{username}}",
            title : $("#title").val().trim(),
            summary: $("#summary").val().trim(),
            story: $("#story").val().trim()
        }

        fetch("/api/v1/novels", {
            method:"POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(body)
        })
        .then(res=>res.json())
        .then(data=>{
            window.location = `/novels/${data.novelid}`
        });
    });

    function areFieldsFilled(){
        if ($("#title").val().trim() == ""   ||
            $("#summary").val().trim() == "" ||
            $("#story").val().trim() == ""){
            return false
        }
        return true;
    }

</script>
{%endblock%}