{% extends "shared/_layout.html" %}

{%block header %}
{{super()}}
<link rel="stylesheet" href="/css/novel.css" />
{%endblock%}

{%block body %}
<div class="container">
    <div class="row">
        {% if canEdit %}
        <div class="col-md-12 title-section">
            <div class="row">
                <div class="col-md-9">
                    <h1>{{novel.title}}</h1>
                    <h3><a href="/users/{{username}}" style="color: yellow;">{{novel.author}}</a></h3>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-warning edit-button m-2">Edit</button>
                    <button class="btn btn-danger delete-button m-2">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 edit-form">
            <label for="title">Title :</label>
            <input type="text" class="form-control" name="title" id="title" value="{{novel.title}}" />

            <label for="summary">Summary :</label>
            <textarea class="form-control" id="summary" name="sumamry" rows="3"></textarea>

            <label for="story">Story :</label>
            <textarea class="form-control" id="story" name="story" rows="7"></textarea>

            <button class="btn btn-primary save-story-button">Save</button>
            <button class="btn btn-danger cancel-story-button">Cancel</button>
        </div>
        {% else %}
        <div class="col-md-12 title-section">
            <h1>{{novel.title}}</h1>
            <h6>{{novel.author}}</h6>
        </div>
        {% endif %}

        <div class="col-md-12 summary-section">
            <button class="btn btn-sm btn-primary show-summary-btn">Show summary</button>
            <button class="btn btn-sm btn-primary hide-summary-btn">Hide summary</button>
            <hr>
            <p>{{novel.summary}}</p>
        </div>
        <div class="col-md-12 content-section">
            <div class="well">
                <p>{{novel.story}}</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}


{%block scripts %}
{{super()}}
<script>
    {% if canEdit %}
    $(".edit-form").hide();
    $(".delete-button").click(() => {
        if (!confirm("Are you sure you want to delete this novel ?"))
            return;
        fetch("/api/v1/novels/{{novel.novelid}}", {method:"DELETE"})
        .then(res=>{
            window.location = "/users/{{novel.author}}";
        });
    });

    $(".edit-button").click(()=>{
        $(".edit-form").slideDown(200);
    });

    $(".cancel-story-button").click(()=>{
        $(".edit-form").slideUp(200);
    });

    {% endif %}
</script>
<script src="/js/novel.js"></script>
{%endblock%}