{% extends "shared/_layout.html" %}

{%block header %}
{{super()}}
<link rel="stylesheet" href="/css/profile.css">
{%endblock%}

{%block body %}
<div class="container">
    <div class="row profile-section">
        <div class="col-md-8 info-subsection">
            <h3>{{user.firstName}} {{user.lastName}}</h3><br />
            <p>
                {{user.username}}<br /> {{user.email}}
            </p>
            <hr />
            <p>
                {{user.bio}}
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/balbasaur.png" />
            <!-- <p>Photo here please</p> -->
        </div>
        <div class="col-md-12 edit-section">
            {% if canEdit %}
            <button class="btn btn-primary btn-small edit-button">Edit</button>
            {% endif %}
        </div>
    </div>
    {%if canEdit %}
    <div class="edit-form">
        <label for="firstName">First Name :</label>
        <input type="text" class="form-control" name="firstName" id="firstName" value="{{user.firstName}}" />

        <label for="lastName">Last Name :</label>
        <input type="text" class="form-control" name="lastName" id="lastName" value="{{user.lastName}}" />

        <label for="email">Email :</label>
        <input type="text" class="form-control" name="email" id="email" value="{{user.email}}" />

        <label for="bio">Say something about your self (bio):</label>
        <input type="text" class="form-control" name="bio" id="bio" value="{{user.bio}}" />

        <button class="btn btn-primary">Save</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
    {% endif %}

    <div class="row novels-section">
        <div class="col-md-12">
            <h3>Novels</h3>
            {%if canEdit %}
            <a href="/novels-create" class="btn btn-sm btn-primary mb-3"> + Add New Novel</a>
            {% endif %}
        </div>
        <div class="novel-cards col-md-12 row">
        </div>
    </div>
</div>
{%endblock%}


{%block scripts %}
{{super()}}
<script>
    {% if canEdit %}
    $(".edit-form").hide();
    $(".edit-form > .btn-danger").click(function () {
        $(".edit-form").slideUp(200, () => {
            $(".edit-section").slideDown(200);
        });
    });
    $(".edit-button").click(function () {
        $(".edit-section").slideUp(200, () => {
            $(".edit-form").slideDown(200);
        });
    });
    $(".edit-form > .btn-primary").click(function () {
        let jsonBody = {};
        $(".edit-form input").map((i, elem) => {
            jsonBody[$(elem).attr("name")] = $(elem).val();
            return elem;
        });
        jsonBody["username"] = "{{user.username}}";
        fetch("/api/v1/users/{{user.username}}", {
            body: JSON.stringify(jsonBody),
            method: "PATCH",
            headers: { "Content-Type": "application/json" }
        })
            .then(res => {
                if (res.ok) {
                    window.open(window.location.href);
                }
                else {
                    alert("unsuccessful");
                }
            })
    });
    {% endif %}

    fetch("/api/v1/novels")
        .then(res => res.json())
        .then(data => {
            console.log(data);
            data.novels.forEach(novel => {
                if ("{{user.username}}" == novel.author) {
                    $(".novel-cards").append(`<div class="card col-md-3">` + 
                        `<div class="card">` + 
                            `<h5 class="card-title">${novel.title}</h5>` + 
                            `<h6 class="card-title">${novel.author}</h5>` + 
                            `<p class="card-text">${novel.summary}</p>` + 
                            `<a href="/novels/${novel.novelid}">see more</a>` + 
                        `</div>` + 
                    `</div>`);
                }
            });
        })
        .catch((err) => {
            console.log(err);
        });

</script>
{%endblock%}