body{
    font-family: 'Rubik', sans-serif;
    background-color: #05668D;
}

.login-image-section{
    height: 120;
    background-color: #9DD9D2;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
}

form > .btn.btn-primary{
    margin: 10px auto;
}

form > input{
    margin-bottom: 10px;
}


.wrapper{
    background-color: white;
    margin: 100px auto;
    width: 30%;
    padding:10px;
    padding-top: 0px;
    min-width: 300px;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 5px #000000;
}

